
<form action="/new-sauce" method="post">
    <label for="name">Hot Sauce Name:</label>
    <input type="text" id="name" name="name" required><br/>
    <label for="image">Image URL:</label>
    <input type="url" id="image" name="image" required><br/>
    <button type="submit">Submit a new hot sauce</button>
</form>
<h3>{{sauceAlert}}</h3>
<a href="/sauces"><h2>Back</h2></a>