<h2>Become a sauce enthusiast!</h2>
<form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br/>
    <label for="confirm">Confirm Password:</label>
    <input type="password" id="confirm" name="confirm" required><br/>
    <button type="submit">Sign Up</button>
</form>
<h3>{{alert}}</h3>
<a href="/sauces">Back</a>